#root{
    position: relative;
}
.main-container{
    background: rgb(241, 241, 241);
    width: 90%;
    min-height: 5rem;
    margin: 1rem auto 8rem auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 2.5rem;

}
footer{
    background: rgb(2, 33, 75);
    color: azure;
    font-size: 1.2rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
   // position: absolute;
    bottom: 0;
}
.model-pop{
    max-width: 700px !important;
    min-height: 250px;
    position: fixed;
    left: 50%;
    top: 50;
    transform: translate(-50%, -50%);
    z-index: 1000;
    .btn-close{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .btn-close:hover{
      background-color: rgb(255, 0, 106) !important;
  }
}
.btn-model{
    width: 120px !important;
}

.overlayMask{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgb(0, 0, 0, 0.7);
}
