
// colors rules

$color-red: #ff0000;
$color-gray: #c7c7c7;
$text-center: center;

$rounded-corner: 10px;
$box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

// media query Layout breakpoint

$layout-breakpoint-small: 600px;

